<div class="contents row"><br />
  <%# <div class="content_post" style="background-image: url(<%= # %>
  <%# );">  %>
  <%# </div> %>
   <div class="context">
        <h1>Taijyuu Wo Kiroku Simasyou!</h1>
    </div>

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
  
    <%= yield %>
</div>